<html id="body" style=
"font-family: cursive;
display: inline-block;
margin: 0px auto;
text-align: center;">

<h1>Olá,</h1>
<div>para se comunicar com sua casa por favor faça login como admin</div>
<div>e registre seu primeiro usuário comum</div>

<div></div>

<a href="login_adm" style="color: black;">Logar como Adm</a>
</html>