<html id="body" style=
"font-family: cursive;
display: inline-block;
margin: 0px auto;
text-align: center;">

<h1>Olá,</h1>
<div>parace que você já é um conhecido!!!</div>
<div>Para se comunicar com sua casa logue como usuário comum</div>
<a href="login" style="color: black;">Logar como usuário comum</a>
<div></div>

<div>Para modificar alguma coisa, logue como Adm</div>

<a href="login_adm" style="color: black;">Logar como Adm</a>
</html>