<html id="body" style=
"font-family: cursive;
display: inline-block;
margin: 0px auto;
text-align: center;">

<head>
    <title>LOGIN</title>
</head>
<form action="/login" method="POST">
    <div id="name_login">
        Login 
    </div>
    <div id="name_email">
        Email
    </div>
    <div>
        <input type="text" id="email_text" name="email" required>
    </div>
    <div id="name_senha">
        Senha
    </div>
    <div>
        <input type="password" id="senha_text" name="senha" required>
    </div>
    <button type="submit" id="submit">
            <div id="name_registrar">Login</div>
    </button>
    <div id="hlink"><a href = "/register" style="
        color: black;
        width: 35px;
        height: 40px;">
        Registrar</a></div>
    <div id="hlink"><a href = "/login_adm" style="
        color: black;
        width: 35px;
        height: 40px;">
        Login_como_adm</a></div>
</form>
</html>