<html style=
"font-family: cursive;
display: inline-block;
margin: 0px auto;
text-align: center;">

<h1>Bem vindo <%= name %></h1>
<form action="/nuser" method="POST">
    <div id="text_ori">

        Nesta plataforma você como usuário normal pode fazer apenas alumas coisas

    </div>
    <div> </div>
    <div>Lembre-se sempre de dar Log out quando sair, pois outra pessoa pode entrar na sua conta</div>
    <button type="submit">Log Out</button>
</form>
</html>