<html style=
"font-family: cursive;
display: inline-block;
margin: 0px auto;
text-align: center;">

<h1>Resetamento do sistema</h1>
<form action="/reset" method="POST">
    <div id="text_ori">

        A partir do momento que você apertar este botão todo o sistema voltará para as configurações padrões

    </div>
    
    <button type="submit">RESET</button>
    
</form>
</html>